@font-face {
  font-family: "Myriad Pro Regular";
  src: url("../fonts/MyriadPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue Cyr";
  src: url("../fonts/HelveticaNeueCyr-Thin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Calibri, sans-serif;
  display: flex;
  flex-direction: column;
}

body.lock {
  overflow: hidden;
}

.content {
  flex-grow: 1;
  z-index: 1;
}

