@font-face {
  font-family: "Myriad Pro Regular";
  src: url("../fonts/MyriadPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue Cyr";
  src: url("../fonts/HelveticaNeueCyr-Thin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Calibri, sans-serif;
  display: flex;
  flex-direction: column;
}

body.lock {
  overflow: hidden;
}

.content {
  flex-grow: 1;
  z-index: 1;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

/* header */

.header {
  background: url("../img/plashka_menu.png");
  background-size: cover;
  width: 100%;
  position: relative;
}

.header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0 30px 0;
}

.menu-burger {
  display: none;
  @media screen and (max-width: 1300px) {
    display: block;
    width: 50px;
    height: 50px;
  }
  @media screen and (max-width: 576px) {
    width: 30px;
    height: 30px;
  }
}

.menu-burger img {
  width: 100%;
}

.menu-burger-drop {
    background-color: #ffffff;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    height: 100%;
    top: -110px;
    border: 1px solid #d92819;
    transition: all .5s;
}

.menu-burger-drop.active {
  top: 110px;
}

.burger-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.burger-flex-link {
    text-decoration: none;
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
    transition: all .3s;
}

.burger-flex-link:hover {
  text-decoration: underline;
}

.header-flex-logo {
  display: block;
}

.header-flex-menu {
  display: flex;
  @media screen and (max-width: 1300px){
  display: none;
  }
}

.header-flex-menu__item {
  text-decoration: none;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  transition: all .3s;
}

.header-flex-menu__item:hover {
  text-decoration: underline;
}

.header-flex-menu__item:nth-child(2) {
  margin-left: 20%;
  margin-right: 20%;
}

.header-flex-message {
  display: flex;
  @media screen and (max-width: 1300px){
    display: none;
  }
}

.header-flex-message__item:nth-child(2) {
  margin-right: 20%;
  margin-left: 20%;
}

.header-flex-location {
  @media screen and (max-width: 1300px){
    display: none;
  }
}

.header-flex-phone {
  text-decoration: none;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
  transition: all .3s;
  @media screen and (max-width: 1300px){
    display: none;
  }
}

.header-flex-phone:hover {
  text-decoration: underline;
}

/* end header */

/* main */

.main {
  background: url("../img/main.png");
  background-size: cover;
  width: 100%;
  background-position-y: 80%;
}

.main-info {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 900px) {
    flex-direction: column;
  }
}

.main-info-title {
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Tenor Sans", sans-serif;
  font-size: 53px;
  font-weight: bold;
  flex: 4;
  @media screen and (max-width: 1600px) {
    font-size: 45px;
  }
  @media screen and (max-width: 1350px) {
    font-size: 35px;
  }
  @media screen and (max-width: 1050px) {
    font-size: 30px;
  }
  @media screen and (max-width: 900px) {
    margin-bottom: 20px;
  }
  @media screen and (max-width: 576px) {
    font-size: 21px;
    margin-top: 20px;
  }
}

.main-info-text {
  text-shadow: 0 0 51px rgba(13, 17, 19, 0.35);
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 21px;
  font-weight: bold;
  flex: 4;
  @media screen and (max-width: 1600px) {
    font-size: 18px;
  }
  @media screen and (max-width: 1350px) {
    font-size: 16px;
  }
  @media screen and (max-width: 1050px) {
    font-size: 14px;
  }
  @media screen and (max-width: 576px) {
    font-size: 11px;
    margin-bottom: 20px;
  }
}

.main-mark {
  margin-top: 3%;
  background-color: #ffffff;
}

.main-wrapper {
  padding-bottom: 3%;
  padding-top: 2%;
}

.main-mark-title {
  color: #000000;
  font-family: "Tenor Sans", sans-serif;
  font-size: 53px;
  font-weight: bold;
  text-align: center;
  padding-top: 4%;
  margin-bottom: 4%;
  @media screen and (max-width: 1300px){
    font-size: 45px;
  }
  @media screen and (max-width: 1000px){
    font-size: 38px;
  }
  @media screen and (max-width: 800px){
    font-size: 34px;
  }
  @media screen and (max-width: 576px) {
    font-size: 20px;
  }
}

.main-mark-flex {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 8%;
  @media screen and (max-width: 576px) {
    flex-wrap: wrap;
  }
}

.main-mark-flex__item {
  width: 21.7%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 4px;
  border: 1px solid #707070;
  background-color: #fcfcfc;
  text-decoration: none;
  transition: all .3s;
  @media screen and (max-width: 576px) {
    width: 40%;
    margin-bottom: 20px;
  }
}

.main-mark-flex__item:hover {
  box-shadow: 0 0 20px rgba(13, 17, 19, 0.21);
  border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid transparent;
}

.main-mark-flex__text {
  color: #646464;
  font-family: "Helvetica Neue Cyr", sans-serif;
  font-size: 24px;
  font-weight: bold;
  @media screen and (max-width: 1300px){
    font-size: 18px;
  }
  @media screen and (max-width: 1000px){
    font-size: 14px;
  }
  @media screen and (max-width: 800px){
    font-size: 12px;
  }
  @media screen and (max-width: 576px) {
    font-size: 9px;
  }
}

.block-ring {
   width: 100%;
   height: 75%;
}

.block-rock {
  width: 100%;
  height: 75%;
}

.block-antique {
  width: 100%;
  height: 75%;
}

.block-watch {
  width: 100%;
  height: 75%;
}

.ring {
  width: 80%;
  margin-left: 10%;
  margin-top: 8%;
}

.rock {
  width: 100%;
  height: 115%;
  padding-bottom: 8%;
}

.antique {
  width: 67%;
  height: 100%;
  margin-left: 22%;
}

.watch {
  width: 90%;
  margin-left: 6%;
  margin-top: 8%;
}

/* end main */

/* mark */

.mark {
  background-color: #ffffff;
}

.mark-title {
  padding-top: 4%;
  color: #000000;
  font-family: "Tenor Sans", sans-serif;
  font-size: 45px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 5%;
  @media screen and (max-width: 1200px) {
    font-size: 38px;
  }
  @media screen and (max-width: 1000px) {
    font-size: 34px;
  }
  @media screen and (max-width: 576px) {
    font-size: 19px;
    padding-top: 45px;
    margin-bottom: 52px;
  }
}

.mark-advantage {
  display: flex;
  justify-content: space-around;
  margin-bottom: 8%;
}

.mark-advantage-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mark-advantage-item__text {
  color: #000000;
  font-family: "Open Sans - Semibold", sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  margin-top: 60px;
  text-align: center;
  @media screen and (max-width: 1200px) {
    font-size: 20px;
  }
  @media screen and (max-width: 1000px) {
    font-size: 16px;
  }
  @media screen and (max-width: 576px) {
    font-size: 9px;
  }
}

.mark-advantage-item__text-diamond {
  color: #000000;
  font-family: "Open Sans - Semibold", sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  margin-top: 80px;
  text-align: center;
  @media screen and (max-width: 1200px) {
    font-size: 20px;
  }
  @media screen and (max-width: 1000px) {
    font-size: 16px;
  }
  @media screen and (max-width: 576px) {
    font-size: 9px;
  }
}

.mark-advantage-item__text-watch {
  color: #000000;
  font-family: "Open Sans - Semibold", sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  margin-top: 66px;
  text-align: center;
  @media screen and (max-width: 1200px) {
    font-size: 20px;
  }
  @media screen and (max-width: 1000px) {
    font-size: 16px;
  }
  @media screen and (max-width: 576px) {
    font-size: 9px;
  }
}

.mark-block-flex__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mark-block-flex__item:nth-child(2) {
  @media screen and (max-width: 576px){
    order: -1;
    width: 100%;
  }
}

.mark-block-diamond,
.mark-block-ring,
.mark-block-watch {
  width: 100%;
  height: 50%;
  display: contents;
}

.mark-block-title {
  color: #000000;
  font-family: "Tenor Sans", sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 3%;
  text-align: center;
  @media screen and (max-width: 1200px) {
    font-size: 34px;
  }
  @media screen and (max-width: 1000px) {
    font-size: 34px;
  }
  @media screen and (max-width: 576px) {
    font-size: 19px;
  }
}

.mark-block-text {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5%;
  @media screen and (max-width: 1200px) {
    font-size: 22px;
  }
  @media screen and (max-width: 1000px) {
    font-size: 18px;
  }
  @media screen and (max-width: 576px) {
    font-size: 12px;
    margin-bottom: 22px;
  }
}

.mark-block-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
  @media screen and (max-width: 576px){
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.flex-item-title {
  color: #000000;
  font-family: "Open Sans - Semibold", sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 68px;
  @media screen and (max-width: 1350px) {
    font-size: 20px;
  }
  @media screen and (max-width: 1150px) {
    font-size: 18px;
  }
  @media screen and (max-width: 1000px) {
    font-size: 16px;
  }
  @media screen and (max-width: 576px) {
    font-size: 10px;
    margin-bottom: 20px;
  }
}

.flex-item-text {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  @media screen and (max-width: 1350px) {
    font-size: 20px;
  }
  @media screen and (max-width: 1150px) {
    font-size: 18px;
  }
  @media screen and (max-width: 1000px) {
    font-size: 16px;
  }
  @media screen and (max-width: 576px) {
    font-size: 10px;
  }
}

.flex-item-img {
  width: 100%;
}

.flex-item-text-plus {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-top: 3%;
  @media screen and (max-width: 1350px) {
    font-size: 16px;
  }
  @media screen and (max-width: 1150px) {
    font-size: 14px;
  }
  @media screen and (max-width: 1000px) {
    font-size: 12px;
  }
  @media screen and (max-width: 576px) {
    font-size: 7px;
  }
}

.flex-item-advantage {
  color: #000000;
  font-family: "Open Sans - Semibold", sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  @media screen and (max-width: 1350px) {
    font-size: 20px;
  }
  @media screen and (max-width: 1150px) {
    font-size: 16px;
  }
  @media screen and (max-width: 900px) {
    font-size: 14px;
  }
  @media screen and (max-width: 576px) {
    display: none;
  }
}

.flex-item-advantage__adaptive {
  display: none;
  @media screen and (max-width: 576px) {
    display: block;
    color: #000000;
    font-family: "Open Sans - Semibold", sans-serif;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 50px;
  }
}

.flex-item-sum {
  color: #d92819;
  font-family: "Open Sans - Semibold", sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-top: 76%;
  text-align: center;
  @media screen and (max-width: 1350px) {
    font-size: 24px;
  }
  @media screen and (max-width: 1150px) {
    font-size: 18px;
  }
  @media screen and (max-width: 900px) {
    font-size: 16px;
    margin-top: 30px;
  }
}

.flex-item-sum-green {
  font-family: "Open Sans - Semibold", sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-top: 25%;
  text-align: center;
  color: #82be00;
  @media screen and (max-width: 1350px) {
    font-size: 24px;
  }
  @media screen and (max-width: 1150px) {
    font-size: 18px;
  }
  @media screen and (max-width: 900px) {
    font-size: 16px;
  }
}

/* end mark */

/* cost */

.cost {
  background: url("../img/gray_bg.png");
  background-size: cover;
}

.cost-title {
  color: #000000;
  font-family: "Tenor Sans", sans-serif;
  font-size: 45px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding-top: 5%;
  margin-bottom: 4%;
  @media screen and(max-width: 1200px) {
    font-size: 40px;
  }
  @media screen and(max-width: 1000px) {
    font-size: 35px;
  }
  @media screen and(max-width: 800px) {
    font-size: 30px;
  }
  @media screen and(max-width: 576px) {
    width: 100%;
    font-size: 19px;
    padding-top: 38px;
    margin-bottom: 28px;
  }
}

.cost-text {
  width: 65%;
  margin-left: 18%;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 6%;
  @media screen and(max-width: 1200px) {
    font-size: 20px;
  }
  @media screen and(max-width: 1000px) {
    font-size: 18px;
  }
  @media screen and(max-width: 800px) {
    font-size: 16px;
  }
  @media screen and(max-width: 576px) {
    width: 100%;
    margin: 0;
    font-size: 12px;
  }
}

.cost-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  @media screen and(max-width: 576px) {
    flex-direction: column;
    margin-top: 37px;
  }
}

.cost-flex-item {
  width: 40%;
  margin-bottom: 5%;
  @media screen and(max-width: 576px) {
    width: 100%;
  }
}

.diamonds {
  width: 100%;
  height: auto;
}

.design {
  width: 80%;
  height: auto;
  @media screen and(max-width: 576px) {
    margin-left: 60px;
  }
}

.brand {
  width: 65%;
  height: auto;
  @media screen and(max-width: 1000px) {
    width: 90%;
  }
  @media screen and(max-width: 576px) {
    width: 70%;
    margin-left: 40px;
  }
}

.sertificate {
  width: 75%;
  height: auto;
  @media screen and(max-width: 1000px) {
    width: 90%;
  }
  @media screen and(max-width: 576px) {
    width: 80%;
    margin-left: 35px;
  }
}

.oldnew {
  width: 75%;
  height: auto;
  @media screen and(max-width: 576px) {
    margin-left: 50px;
  }
}

.cost-flex-item__title {
  margin-bottom: 5%;
  color: #000000;
  font-family: "Tenor Sans", sans-serif;
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
  @media screen and(max-width: 1200px) {
    font-size: 22px;
  }
  @media screen and(max-width: 1000px) {
    font-size: 20px;
  }
  @media screen and(max-width: 800px) {
    font-size: 18px;
  }
  @media screen and(max-width: 576px) {
    text-align: center;
    font-size: 14px;
  }
}

.cost-flex-item__title-design {
  margin-bottom: 5%;
  color: #000000;
  font-family: "Tenor Sans", sans-serif;
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
  @media screen and(max-width: 1200px) {
    font-size: 22px;
  }
  @media screen and(max-width: 1000px) {
    font-size: 20px;
  }
  @media screen and(max-width: 800px) {
    font-size: 18px;
  }
  @media screen and(max-width: 576px) {
    display: none;
  }
}

.title-adaptive-design {
  display: none;
  @media screen and(max-width: 576px) {
    display: block;
    text-align: center;
    font-size: 14px;
    margin-bottom: 5%;
    color: #000000;
    font-family: "Tenor Sans", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.cost-flex-item__title-sertificate {
  margin-bottom: 5%;
  color: #000000;
  font-family: "Tenor Sans", sans-serif;
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
  @media screen and(max-width: 1200px) {
    font-size: 22px;
  }
  @media screen and(max-width: 1000px) {
    font-size: 20px;
  }
  @media screen and(max-width: 800px) {
    font-size: 18px;
  }
  @media screen and(max-width: 576px) {
    display: none;
  }
}

.title-adaptive-sertificate {
  display: none;
  @media screen and(max-width: 576px) {
    display: block;
    text-align: center;
    font-size: 14px;
    margin-bottom: 5%;
    color: #000000;
    font-family: "Tenor Sans", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.cost-flex-item__text {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  @media screen and(max-width: 1200px) {
    font-size: 16px;
  }
  @media screen and(max-width: 1000px) {
    font-size: 14px;
  }
  @media screen and(max-width: 800px) {
    font-size: 12px;
  }
  @media screen and(max-width: 576px) {
    text-align: center;
    font-size: 9px;
    line-height: 15.62px;
  }
}

.cost-flex-item__text-diamond {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  @media screen and(max-width: 1200px) {
    font-size: 16px;
  }
  @media screen and(max-width: 1000px) {
    font-size: 14px;
  }
  @media screen and(max-width: 800px) {
    font-size: 12px;
  }
  @media screen and(max-width: 576px) {
    display: none;
  }
}

.text-adaptive-diamond {
  display: none;
  @media screen and(max-width: 576px) {
    display: block;
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-size: 9px;
    font-weight: bold;
    line-height: 15.62px;
    text-align: center;
  }
}

.cost-flex-item__text-brand {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  @media screen and(max-width: 1200px) {
    font-size: 16px;
  }
  @media screen and(max-width: 1000px) {
    font-size: 14px;
  }
  @media screen and(max-width: 800px) {
    font-size: 12px;
  }
  @media screen and(max-width: 576px) {
    display: none;
  }
}

.text-adaptive-brand {
  display: none;
  @media screen and(max-width: 576px) {
    display: block;
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-size: 9px;
    font-weight: bold;
    line-height: 15.62px;
    text-align: center;
    margin-top: 20px;
  }
}

.cost-flex-item__text-oldnew {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  @media screen and(max-width: 1200px) {
    font-size: 16px;
  }
  @media screen and(max-width: 1000px) {
    font-size: 14px;
  }
  @media screen and(max-width: 800px) {
    font-size: 12px;
  }
  @media screen and(max-width: 576px) {
    display: none;
  }
}

.text-adaptive-oldnew {
  display: none;
  @media screen and(max-width: 576px) {
    display: block;
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-size: 9px;
    font-weight: bold;
    line-height: 15.62px;
    text-align: center;
    margin-top: 20px;
  }
}

.cost-flex-item:nth-child(6) {
  padding-left: 8%;
}

.cost-flex-item:nth-child(2) {
  padding-left: 4%;
}

/* end cost */

/* process */

.process {
  background-color: #ffffff;
}

.process-title {
  color: #000000;
  font-family: "Tenor Sans", sans-serif;
  font-size: 45px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding-top: 5%;
  margin-bottom: 5%;
  @media screen and (max-width: 1350px){
    font-size: 40px;
  }
  @media screen and (max-width: 1000px){
    font-size: 35px;
  }
  @media screen and (max-width: 800px){
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  @media screen and (max-width: 576px){
    font-size: 19px;
  }
}

.process-block {
  display: flex;
}

.process-block-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.process-block-item__title {
  color: #000000;
  font-family: "Open Sans - Semibold", sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  text-align: center;
  margin-top: 10%;
  @media screen and (max-width: 1350px){
    font-size: 20px;
  }
  @media screen and (max-width: 1000px){
    font-size: 18px;
  }
  @media screen and (max-width: 800px){
    font-size: 16px;
  }
  @media screen and (max-width: 576px){
    font-size: 12px;
  }
}

.process-expert {
  margin-bottom: 5%;
}

.process-ring {
  margin-top: 17%;
  margin-bottom: 5%;
}

.process-cost {
  margin-top: 22%;
  margin-bottom: 8%;
}

.process-deal {
  margin-top: 29.5%;
  margin-bottom: 10%;
}

.process-block-item__img {
  padding-top: 7%;
}

.process-block-item__text {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  @media screen and (max-width: 1350px){
    font-size: 16px;
  }
  @media screen and (max-width: 1000px){
    font-size: 14px;
  }
  @media screen and (max-width: 800px){
    font-size: 12px;
  }
  @media screen and (max-width: 576px){
    font-size: 9px;
  }
}

.process-smalltitle {
  color: #000000;
  font-family: "Tenor Sans", sans-serif;
  font-size: 45px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-top: 6%;
  margin-bottom: 3%;
  @media screen and (max-width: 1350px){
    font-size: 40px;
  }
  @media screen and (max-width: 1000px){
    font-size: 35px;
  }
  @media screen and (max-width: 800px){
    font-size: 30px;
  }
  @media screen and (max-width: 576px){
    font-size: 19px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.process-text {
  width: 73%;
  margin-bottom: 6%;
  margin-left: 15%;
  color: #000000;
  font-family: "Open Sans Light", sans-serif;
  font-size: 24px;
  text-align: center;
  @media screen and (max-width: 1350px){
    font-size: 20px;
  }
  @media screen and (max-width: 1000px){
    font-size: 18px;
  }
  @media screen and (max-width: 800px){
    font-size: 16px;
  }
  @media screen and (max-width: 576px){
    font-size: 12px;
    margin-bottom: 50px;
  }
}

.process-text-add {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  @media screen and (max-width: 1350px){
    font-size: 20px;
  }
  @media screen and (max-width: 10000px){
    font-size: 18px;
  }
  @media screen and (max-width: 800px){
    font-size: 12px;
  }
}

.process-people {
  padding-bottom: 7%;
  display: flex;
  justify-content: space-around;
}

.process-people-item__img {
  width: 100%;
}

.process-people-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.process-people-item__name {
  margin-top: 20%;
  margin-bottom: 7%;
  color: #000000;
  font-family: "Open Sans - Semibold", sans-serif;
  font-size: 18px;
  font-weight: bold;
  @media screen and (max-width: 1000px){
    font-size: 14px;
  }
  @media screen and (max-width: 800px){
    font-size: 12px;
  }
  @media screen and (max-width: 576px){
    font-size: 17px;
  }
}

.process-people-item__text {
  color: #898989;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: bold;
  @media screen and (max-width: 1000px){
    font-size: 10px;
  }
  @media screen and (max-width: 800px){
    font-size: 8px;
  }
  @media screen and (max-width: 576px){
    font-size: 11px;
  }
}

/* end process*/

/* annotation */

.annotation {
  background-color: #000000;
}

.annotation-text {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
  @media screen and (max-width: 576px){
    font-size: 11px;
  }
}

.annotation-text-name {
  font-family: "Open Sans - Semibold", sans-serif;
  @media screen and (max-width: 576px){
    font-size: 11px;
  }
}

/* end annotation */

/* feedback */

.feedback {
  background-color: #ffffff;
}

.feedback-title {
  color: #000000;
  font-family: "Tenor Sans", sans-serif;
  font-size: 45px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 5%;
  text-align: center;
  margin-bottom: 5%;
  @media screen and (max-width: 1350px){
    font-size: 40px;
  }
  @media screen and (max-width: 1000px){
    font-size: 35px;
  }
  @media screen and (max-width: 800px){
    font-size: 30px;
  }
  @media screen and (max-width: 576px){
    font-size: 19px;
  }
}

.feedback-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7%;
}

.feedback-flex-link__img {
  padding-top: 200px;
}

.feedback-block {
  width: 42.5%;
}

.feedback-flex-quote {
  display: flex;
  align-items: flex-start;
  background: url("../img/quote-back.png") no-repeat;
  height: 340px;
}

.feedback-flex-quote__text {
  color: #000000;
  font-family: "Roboto - Thin", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
  padding-top: 7%;
  padding-right: 6%;
  margin-bottom: 10%;
  @media screen and (max-width: 1700px){
    font-size: 16px;
  }
  @media screen and (max-width: 1500px){
    font-size: 14px;
  }
  @media screen and (max-width: 1250px){
    line-height: 16px;
  }
  @media screen and (max-width: 900px){
    font-size: 13px;
    line-height: 15px;
  }
  @media screen and (max-width: 800px){
    font-size: 11px;
  }
  @media screen and (max-width: 700px){
    font-size: 10px;
    line-height: 14px;
  }
}

.feedback-flex-img {
  padding-left: 4%;
  padding-top: 3%;
  padding-right: 3%;
}

.feedback-flex-quote__name {
  color: #000000;
  font-family: "Roboto - Thin", sans-serif;
  font-size: 24px;
  font-weight: bold;
  padding-left: 12%;
  @media screen and (max-width: 1250px){
    font-size: 18px;
  }
  @media screen and (max-width: 900px){
    font-size: 14px;
  }
}

.feedback-flex-quote__date {
  font-weight: 100;
  margin-top: 2%;
  padding-left: 12%;
  @media screen and (max-width: 1250px){
    font-size: 12px;
  }
  @media screen and (max-width: 900px){
    font-size: 10px;
  }
}

/* end feedback */

/* footer */

.footer-flex {
  display: flex;
}

.footer-flex-map {
  width: 69%;
  @media screen and (max-width: 1000px){
    display: none;
  }
}

.footer-flex-map__img {
  width: 100%;
}

.footer-flex-contacts {
  background-color: #000000;
  width: 31%;
  display: flex;
  flex-direction: column;
  padding-left: 6%;
  padding-top: 5%;
  @media screen and (max-width: 1500px){
    padding-top: 3%;
    padding-left: 4%;
  }
  @media screen and (max-width: 1100px){
    padding-top: 2%;
    padding-left: 3%;
  }
  @media screen and (max-width: 1000px){
    padding-top: 40px;
    width: 100%;
    align-items: center;
  }
}

.footer-logo {
  margin-bottom: 8%;
  @media screen and (max-width: 1000px){
    margin-bottom: 30px;
  }
}

.footer-flex-contacts__text {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-left: 3%;
  @media screen and (max-width: 1300px){
    font-size: 16px;
  }
  @media screen and (max-width: 1100px){
    font-size: 14px;
  }
  @media screen and (max-width: 1000px){
    font-size: 15px;
    margin: 0;
  }
}

.footer-flex-contacts__location {
  display: flex;
  align-items: center;
  margin-bottom: 5%;
  @media screen and (max-width: 1000px){
    margin-bottom: 30px;
  }
}

.footer-flex-contacts__text-time {
  color: #ffffff;
  font-size: 16px;
  font-family: "Open Sans Light", sans-serif;
  font-weight: 300;
  margin-left: 3%;
  @media screen and (max-width: 1300px){
    font-size: 14px;
  }
  @media screen and (max-width: 1100px){
    font-size: 12px;
  }
  @media screen and (max-width: 1000px){
    font-size: 13px;
    line-height: 18.87px;
    margin: 0;
  }
}

.footer-flex-contacts__link {
  text-decoration: none;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  transition: all .3s;
  margin-left: 3%;
  @media screen and (max-width: 1300px){
    font-size: 16px;
  }
  @media screen and (max-width: 1100px){
    font-size: 12px;
  }
  @media screen and (max-width: 1000px){
    font-size: 14px;
    margin: 0;
  }
}

.footer-flex-contacts__link:hover {
  text-decoration: underline;
}

.footer-flex-contacts__location-img {
  @media screen and (max-width: 1000px){
    display: none;
  }
}

.footer-flex-message {
  display: flex;
  margin-top: 5%;
  margin-bottom: 10%;
  @media screen and (max-width: 1000px){
    margin-top: 30px;
    margin-left: -80px;
  }
}

.footer-flex-message__item:nth-child(2) {
  margin-right: 5%;
  margin-left: 5%;
  @media screen and (max-width: 1000px){
    margin-right: 50%;
    margin-left: 50%;
  }
}


/* end footer */

